@use 'base/mixins' as m;
@use 'base/variables' as v;

.welcome {
   text-align: center;

   &__heading {
      @include m.headingCursive;
   }

   &__text {
      font-size: 2.6rem;
      color: v.$gray;
      max-width: 50rem;
      margin: 4rem auto 0 auto;
      line-height: 1.8;
   }
}
