@use 'base/mixins' as m;
@use 'base/variables' as v;

.navigation {
   background-color: v.$primary;
   padding: 0.3rem 0;
   margin: 2rem 0;

   &__border {
      //   border-top: 2px dashed v.$white;
      //   border-bottom: 2px dashed v.$white;
      border-block: 2px dashed v.$white;
      padding: 1.7rem 0;
   }

   &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
   }

   &__link {
      color: v.$white;
      font-size: 2.4rem;
   }

   @include m.tablet {
      &__container {
         flex-direction: row;
         justify-content: space-between;
      }
   }
}
